/* ===== Author: Tony Camaiani http://tony.camaiani.it ========================== */

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('fonts/MonoSocialIconsFont-1.10.eot');
    src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
          

html { font-size: 100%; overflow-y: scroll; }
body, button, input, select, textarea { color: #333; }

::-moz-selection { background: #006799; color: #fff; text-shadow: none; }
::selection { background: #006799; color: #fff; text-shadow: none; }

a { color: #006799; text-decoration: none; }
a:visited { color: #006799; }
a:hover { color: #339ACC; }



/* ===== general styles ========================================================= */
body {
  font-family: 'Roboto', sans-serif;
  background: #fefefe;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #B3B3B3;
  margin: 5px 0;
}

p { font-size: 13px;}

#container {
  width: 980px;
  margin: 0 auto;
  background: #fff;
}

header, nav, #main, footer {
  padding: 10px 20px;
}

  header img {
    margin: 0 20px 0 0;
  }

  header h1 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #333;
    margin: 10px 0 5px;
  }

  header h2 {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 2px;
    color: #666;
    margin: 5px 0;
  }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

  nav .top {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

    nav .top li{
      display: inline;
      margin: 0 25px 0 0;
    }

    nav .top li.last{
      margin: 0;
    }

    nav .top li a{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: 1px solid #fff;
    }

    nav .top li a.select {
      color: #339ACC;
      border-bottom: 1px dotted #339ACC;
    }

  nav .social {
    text-align: right;
  }

    nav .social li{
      display: inline;
      margin: 0 0 0 20px;
    }

    nav .social a {
      font-size: 30px;
    }

#main {
  margin-top: 25px;
  margin-bottom: 50px;
}

  #main aside {
    width: 180px;
    margin-right: 20px;
    float: left;
  }

  #main aside nav ul li a{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
  }

  #main aside nav ul li a.select
 {
    color: #339ACC;
    border-bottom: 1px dotted #339ACC;
  }


  #main section.content {
    width: 720px;
    float: left;
  }



footer {
  padding-top: 20px;
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
  border-top: 1px solid #eee;
}

/* ===== gallery image styles =================================================== */
    ul.grid {
      padding: 0;
      margin: 25px auto;
    }

    ul.size_150 { width: 738px; }
    ul.size_75 { width: 570px; }

    ul.grid li {
      list-style-type: none;
      float: left;
    }


    ul.size_150 li { width: 150px; margin: 0 40px 40px 0; }
    ul.size_75 li { width: 75px; padding: 0 10px; margin-bottom: 20px; }

    ul.grid li.first{ clear: left; }
    ul.grid li.last{ margin-right: 0; }

    ul.grid li .image {
      margin-bottom: 5px;
    }

    ul.grid li a:hover .image {
       -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;

    }

    ul.grid li .gallery_description {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      display: block;
    }

    ul.commands {
      list-style: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

      ul.commands li {
        display: inline-block;
        font-size: 30px;
        margin: 0 10px;
      }

      ul.commands li.index {
        margin: 0 15px 0 10px;
      }

        ul.commands li a:hover {
          border-bottom: 0;
        }

    .photo_section img.image {
      margin: 15px auto 10px;
      display: block;
    }

    .photo_section .image_caption {
      width: 500px;
      margin: 0 auto;
      text-align: center;
    }





.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  rotation:-90deg;
}



/* ===== media with different viewport classes ============================================ */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* ===== non-semantic helper classes ============================================ */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.block {display: block;}

.left {float: left;}
.right {float: right;}
.centered  { text-align: center; }

/* ===== media queries ========================================================== */
@media only screen and (min-width: 480px) { /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) { /* Style adjustments for viewports 768px and over go here */ }
/* ===== print styles ========================================================== */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
